@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;1,800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@800&family=Urbanist:wght@100&display=swap');


.diceBox:hover {
    -webkit-box-shadow:0px 0px 30px 0px rgba(82,255,169,0.9);
-moz-box-shadow: 0px 0px 30px 0px rgba(82,255,169,0.9);
box-shadow: 0px 0px 30px 0px rgba(82,255,169,0.9);
}